*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}

.wrapper{
    margin: 80px  auto;
    width: 1584px;
    height: 720px;
    background-color: #252525;
    border-radius: 20px;
}
.container{
    width: 1580px;
    height: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.box{
    height: auto;
    flex: 1 1 142.3px;
    transition: all .7s;
    filter: blur(1px);
}
.box img {
    width: 100%;
    height: 100%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}
.box:hover{
    flex: 1 1 854px;
    transition: all .7s;
    filter: blur(0px);
}